.headerWrapper {
    width: 100%; 
    height: auto;
    max-height: 108px;
    overflow: hidden;
}

.header {
    width: 100%;
    height: auto;
   
    background-color: #202834;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0px;
    
}

.logo {
    width: 76px;
    height: 62px;
}

#headerLastChild {
    margin-right: 50px;
}


#logoWrapper {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px;
    margin-right: auto;
}

.headerElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 7px;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 100%;
    margin: 25px;

}

.header a:hover {
    background-color:#173235;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1); /* soft glow */

}

.headerElement h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.headerElement hr {
    width: 70%;
    margin: 0;
    padding: 0;
    border: 1px solid white;
}

.headerButton {
    background-color: transparent;
    border: none;
    width: auto;
    height: auto;
    display: none;
    width: 60px;
    height: 60px;
}

.headerButton img {
    height: 100%;
    width: 100%;
}







.sidebar {
    height: auto;
    width: 100%;
    background-color: #173235;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
   transform: translateY(-200%); /* start hidden above */
    transition: transform 0.2s ease-in-out; /* smooth slide */
    z-index: 999; /* ensure it appears above content */
}

.sidebar.active {
    transform: translateY(0); /* slide down into view */
}

.sidebarElement {
    margin: 20px 0 20px 0;
    text-decoration: none;
    color: white;
}


@media (max-width: 600px) {
    .header .headerElement {
        display: none;
    }    

    .headerButton {
        display: block;
    }

    
}

